.banner__imagem {
    background-image: url(../../img/banner.jpg);
    height: calc(100vh - 75px);
    width: 100%;
}


@media screen and (min-width: 0) {
    .banner__imagem {
        height: calc(100vh - 51px);
    }
}

@media screen and (min-width: 768px) {
    .banner__imagem {
        height: calc(100vh - 75px);
    }
}